{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
    | Flux
{% endblock title %}
{% block content %}
<div class="w-full max-w-[700px] flex flex-col items-center mt-10">
    <div class="w-full mb-8 px-5">
        <a href="{% url 'review:ticket_create' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Demander une critique
        </a>
    </div>

    <div class="w-full">
        {% for ticket in tickets %}
            {% if ticket.reviews.all %}
                <div class="w-full border border-gray-300 rounded-lg shadow-sm mb-5 p-5">

                    {% for review in ticket.reviews.all %}
                        <div class="flex justify-between">
                            <div class="flex">
                                {% if review.user == request.user %}
                                <p class="me-5">Vous avez publié une critique</p>
                                <a href="{% url 'review:review_update' review.id %}" title="Éditer">
                                    <img src="{% static 'medias/edit.png' %}" alt="Icone édition" class="w-5 h-5">
                                </a>
                                {% else %}
                                <p>{{ review.user }} a plublié une critique</p> 
                                {% endif %}
                            </div>
                            <p class="text-xs text-gray-700">{{ ticket.time_created | date:"H:i, d F Y" }}</p>
                        </div>
                        <h2 class="text-xl font-semibold my-5">
                            {{ review.headline }} - 
                            <span class="inline-flex">
                                {% for _ in review.rating|stars_count %}
                                <img src="{% static 'medias/star.png' %}" alt="Étoile" class="w-5 h-5">
                                {% endfor %}
                            </span>
                        </h2>
                        <p class="text-gray-700 mb-3">{{ review.body }}</p>
                    {% endfor %}
                    {% include 'review/includes/ticket_card.html' %}
                </div>
            {% else %}
                {% include 'review/includes/ticket_card.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
    