{% extends "base.html" %}
{% block title %}
    | Abonnements
{% endblock title %}
{% block content %}
<section class="w-full max-w-[700px] flex flex-col items-center mt-10">
    <h2 class="text-3xl font-bold my-10">Abonnements</h2>
    {% include 'follows/includes/following_list.html' %}
</section>
<section class="w-full max-w-[700px] flex flex-col items-center mt-10">
    <h2 class="text-3xl font-bold my-10">Abonnés</h2>
    <div class="w-full">
        {% for follower in followers %}
        <div class="border border-gray-300 rounded-lg shadow-sm p-2.5 mb-1">
            <p class="text-sm">{{ follower.user.username }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}