{% extends "base.html" %}
{% block content %}
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32 flex flex-col items-center">
    <div class="max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Confirmer la suppression</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            Êtes-vous sûr de vouloir supprimer la demande de critique "{{ object }}" ? <br>
            Cette action est irréversible.
        </p>
        <div class="mt-5 text-right">
            <form method="post">
                {% csrf_token %}
                <a href="{{ cancel_url }}" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                    Annuler
                </a>
                <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                    Confirmer
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
