{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'medias/favicon.ico' %}">
    <title>
      LitRevu
      {% block title %}
      {% endblock title %}
    </title>
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "includes/navbar.html" %}
    {% include "includes/message.html" %}
    <main class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 flex flex-col items-center">
      {% block content %}
      {% endblock content %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
