{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        LitRevu
    {% endblock title %}
        </title>
    {% tailwind_css %}
</head>
<body>
    
    {% block content %}
        
    {% endblock content %}
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    {% comment %} <script src="../theme/static_src/node_modules/flowbite/dist/flowbite.js"></script> {% endcomment %}
</body>
</html>